/* CSS Dosyaı*/

*{
    margin:0px;
    padding:0px;
}
#sayfa{
    width: 700px;
    min-height: 680px;
    border-style: solid;
    border-width: 1px;
    margin: auto;

}
/*Banner*/
#banner{
    width: 698px;
    min-height: 80px;

    border-width: 1px;
    margin: auto;
    background-color:#F7FBFC;
}
/*Logo*/
#logo{
   height: 75px;
    border-width: 1px;
    position: relative;
    top: 10px;
    left: 10px;
    float: left;
}
#logoimg{
    width: 75px;
}
/*Sosyal Medya*/
#sosyal{
    width: 160px;
    min-height: 20px;
    border-width: 1px;
    position: relative;
    top: 10px;
    right: 10px;
    float: right;
}
/*sosyal İkonlar*/
#icon{
    width: 30px;
    float: right;
    margin: 5px;
}
/*Ana Menü*/
#anamenu{
    width: 698px;
    height: 60px;
  background-color:#769FCD;
  border-width: 1px;
  margin: 1px;
  text-align: center;

}
#anamenu ul{
    list-style-type: none;

}
#anamenu ul li {
    border-style: solid;
    width: 100px;
    border-width: 3px;
    border-radius: 8px;
    border-color: blue;
    background-color: white;
    float:left;
    padding: 2px;
    margin: 7px;
    
    position:relative;
    top: 10px;
   
    
}
#anamenu ul a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    
    font-weight:bold;
    font-size: 12px;

}
#anamenu ul a:link{
    color: blue;

}
#anamenu ul a:visited{
    color:brown;
    
}
#anamenu ul a:hover{
    color: grey;
    text-decoration: underline;
}
#anamenu ul a:active{
    color: red;
    text-decoration: underline;
}

/*İçerik*/
#icerik{
    width: 500px;
    min-height: 500px;            
    border-width: 1px;               
    background-color:white;
    float: left;
    
}
.resim{
    width: 100px;
    margin:10px;
    float: left;
}
.baslik{
    color: black;
    margin:10px;
}
.metin{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: black;
}
/*Yan menu*/
#yanmenu{
    width: 198px;
    min-height: 500px;            
    border-width: 1px;               
    background-color:#D6E6F2;
    float: left;
    text-align: center;
}
/*Alt menu*/
#altmenu{
    width: 698px;
    min-height: 40px;            
    border-width: 1px;               
    background-color:#B9D7EA;
    float: left;
    text-align: center;
    color: black;
   
}
#altmenu a{
   font-size: 10px;
   font-weight: bolder;
   color: black;
   text-decoration: none;
}
#altmenu a:hover{
   font-size: 10px;
   font-weight: bolder;
   color:brown;
   text-decoration: underline;
}
.kucukmetin{
    font-size: 10px;
}